aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
dotenv
filetype
frozenlist
gitdb
gitpython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h2
hpack
httpcore
httplib2
httpx
httpx-sse
hyperframe
idna
jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-qdrant
langchain-text-splitters
langsmith
markupsafe
marshmallow
multidict
mypy-extensions
narwhals
numpy
orjson
packaging
pandas
pillow
portalocker
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic-core
pydantic-settings
pydeck
pymupdf
pyparsing
pypdf
python-dateutil
python-dotenv
pytz
pyyaml
qdrant-client
referencing
requests
requests-toolbelt
rpds-py
rsa
six
smmap
sniffio
sqlalchemy
streamlit
tenacity
toml
tornado
tqdm
typing-extensions
typing-inspect
typing-inspection
tzdata
uritemplate
urllib3
watchdog
yarl
zstandard
